<!DOCTYPE html>
<html lang="en">
<head class="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            width: 400px; /* Thiết lập độ rộng của bảng */
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        select, input {
            margin: 10px 0;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .btn {
            display: inline-block;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        a.btn {
            background-color: #f44336;
        }
    </style>
    <title>Reservation Form</title>
</head>
<body class="m-5">

<!-- HTML form for reservation -->
<form id="reservationForm" method="post">
    <label for="rooms">Your Room:</label>
    <select name="rooms" id="" required>
        {{#each rooms }}
        <option value="{{_id}}">
            Room {{roomNumber}} - {{pricePerNight}} VNĐ PerNight
        </option>
        {{/each}}
    </select>

    <label for="checkInDate">Check-In Date:</label>
    <input type="date" id="checkInDate" name="checkInDate" required>

    <label for="checkOutDate">Check-Out Date:</label>
    <input type="date" id="checkOutDate" name="checkOutDate" required>

    <input class="btn" type="submit" value="Add">
    <a class="btn" href="/room">Cancel</a>
</form>
{{#each errors}}
<p class="error">{{this.msg}}</p>
{{/each}}
</body>
</html>
