<center>
   <a href="/room">
      <img src="https://th.bing.com/th/id/R.cdcb9771399207df561e6666db336cbb?rik=KDT%2b3qlCogwRXg&pid=ImgRaw&r=0" width="300" height="300">
   </a>
   <h1>Welcome back, {{ username }} !</h1>
</center>

