<form id="order" method="post">
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <label for="create_payment_url">Oder Type </label>
    <input type="text" id="orderType" name="orderType" required>

    <input type="text" name="amout" required
    placeholder="Enter typeRoom description"
    value="{{ reservation.totalPrice }}">

    <label for="orderDescription">Description</label>
    <input type="text" id="orderDescription" name="orderDescription"  required>

    <label for="bankCode">BANKCODE</label>
    <input type="text" id="bankCode" name="bankCode" value="NCB" required>

    <label for="language">amout</label>
    <input type="text" id="language" name="language" value='vn' required>

    <input class="btn" type="submit" value="Add">
    <a class="btn" href="/room">Cancel</a>
</form>