<form id="order" method="post">
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <label for="amout">Amout:</label>
    <input type="text" name="amout" required
    placeholder="Enter typeRoom description"
    value="{{ reservation.totalPrice }}">

    <label for="bankCode">BANK CODE</label>
    <input type="text" id="bankCode" name="bankCode" value="NCB" required>

    <label for="language">Language</label>
    <input type="text" id="language" name="language" value='vn' required>

    <input class="btn" type="submit" value="Confirm">
    <a class="btn" href="/room">Cancel</a>
</form>