<!DOCTYPE html>
<html>

<head>
      <title>Bee House System</title>
      <link rel="icon"
            href="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0">
</head>

<body>

      {{{body}}}

</body>

</html>