<form action="" method="post">
   <h1>Edit Type Room</h1>
   <input type="text" name="name" required
   placeholder="Enter typeRoom name"
   value="{{ typeRoom.name }}">
   <br><br>
   <input type="text" name="description" required
   placeholder="Enter typeRoom description"
   value="{{ typeRoom.description }}">
   <br><br>
   <input class="btn btn-success" type="submit" value="Edit">
   <a class="btn btn-warning" href="/typeRoom">Cancel</a>
</form>

