<div class="card container bg-secondary m-3 ml-auto mr-auto" style="max-width: 800px;" content="width=device-width, initial-scale=1.0">
  <div class="card-body">
    <h1 class="card-title text-center my-custom-class">Add new room</h1>
    <form class="forms-sample" method="post">
      <div class="form-group">
        <label for="roomName">Name</label>
        <input type="text" class="form-control" name="name" id="" required placeholder="Name">
      </div>
      <div class="form-group">
        <label for="roomNumber">Name</label>
        <input type="text" class="form-control" name="roomNumber" id="" required placeholder="Room Number">
      </div>
      <div class="form-group">
        <label for="typeRoom">Type Room</label>
        <select name="typeRoom" id="">
          {{#each typeRoomList }}
          <option value="{{_id}}">
            {{ name }}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="pricePerNight">Price</label>
        <input type="text" class="form-control" name="pricePerNight" id="" required min="0"
          placeholder="Price per night">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="" required min="0" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="availability">Available</label>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="availability" id="optionsRadios1" value="false">
            False
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="availability" id="optionsRadios2" value="true"
              checked>
            True
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="url" class="form-control" name="image" id="" required placeholder="Image">
      </div>
      <input class="btn btn-primary mr-2" type="submit" value="Add">
      <a class="btn btn-light" href="/admin/manageRoom">Cancel</a>
    </form>
  </div>
</div>